* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image:url( "images/signin.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;     
  }

  .logo img{
    width:600px;
    height:200px;
    position: fixed;
    top:35%;
    left:8%;
  }           
  .row {
    width: 100%;
    max-width: 1000px;
    position: fixed;
    top:20%;
    left:60%;
}

.colm-form .form-container {
    background-color:rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4), 0 8px 16px rgba(0, 0, 0, 0.4);
    margin-bottom: 30px;
    padding: 25px;
    max-width: 400px;
    height: 470px;  
}
.form-container h1{
    font-size: 32px;
}

.colm-form .form-container input, .colm-form .form-container .btn-signup {
    width: 100%;
    margin: 10px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}
.colm-form .form-container input, .colm-form .form-container .btn-login {
    width: 100%;
    margin: 10px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}

.colm-form .form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}

.colm-form .form-container input:focus {
    border-color: hsla(240, 2%, 28%, 0.243);
    box-shadow: 0 0 0 2px #e7f3ff;
}
.colm-form .form-container .btn-login {
    background-color:  rgb(255, 130, 116);
    border: none;
    border-radius: 2px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 600;
}
.colm-form .form-container .btn-login:hover{
    background-color: rgb(247, 120, 105);
}

.colm-form .form-container .btn-signup {
    background-color: rgb(255, 130, 116);
    border: none;
    border-radius: 2px;
    font-size: 20px;
    padding: 0 16px;
    color:white;
    font-weight: 600;
}
.colm-form .form-container .btn-signup:hover{
    background-color: rgb(247, 120, 105);
}

.colm-form .form-container a {
    display: block;
    color: black;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 0 20px;
    text-align: center;
}

.colm-form .form-container a:hover {
    text-decoration: underline;
    color:black;
}
.colm-form .form-container .btn-new {
    background-color: rgb(255, 130, 116);
    border: none;
    border-radius: 2px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
    margin-top: 20px; 
}
.colm-form .form-container .btn-new:hover{
background-color: rgb(247, 120, 105);
} 
.eye1 i{
    position: absolute;
    right: 0px;
    top: 65px;
    cursor:pointer;
}
.eye2 i{
    position: absolute;
    right: 0px;
    top: 125px;
    cursor:pointer;
}
span{
    position: absolute;
    right: 640px;
    top: 153px;
    cursor:pointer;
}

