.sec-p1{
    padding:60px 60px;
}
.logo {
    width:220px;
    height:65px;
}
body{
    margin: 0 0;
}
a{
    color: black;
}
#header{
    display: flex;
    margin-bottom:0px;
    align-items: center;
    justify-content: space-between;
    padding: 10px 65px;
    box-shadow: 0 5px 15px rgb(0, 0, 0,0.2);
    background: rgb(221, 227, 227);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position:sticky;
    top:0;
    left:0;
}  
#nav{
    display:flex;
    align-items: center;
    justify-content: center;  
}
#nav li{
    list-style-type: none;
    padding-right:35px;
    position:relative;
}
#nav li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color:rgb(0, 0, 0);
    transition:0.25 ease;
}
#nav  li ul{
    display: none;
}
#nav li:hover >ul{
    display:initial;
}
#nav li a:hover,
#nav li a.active{
    color:salmon;
}
#nav li a.active::after{
  content:"";
  width:40%;
  height:2px;
  background:salmon;
  position:absolute;
  left:0px;
  bottom:-4px;
}
#header .sub-menu-wrap{
    position:absolute;
    top:100%;
    right:5%;
    width:320px;
    max-height:400px;
    overflow:hidden;
    transition:max-height 0.5s ;
}
.sub-menu-wrap .open-menu{
    max-height:400px;
}
.sub-menu{
    background: rgb(255, 255, 255);
    padding:10px;
    margin:10px;
}
.user-info{
    display: flex;
    align-items: center;
    padding-top: -10px;
}
.user-info h3{
    font-weight: 500;
    font-size: 20px;
}
.user-pic{
    width:25px;
}
.user-info img{
    width:25px;
    margin-right:15px;
    margin-left: 10px;
}
.sub-menu-link{
    display:flex;
    align-items:center;
    text-decoration: none;
    color:#525252;
    margin:12px 0;
}
.sub-menu-link p{
    width:100%;
}
.sub-menu-link img{
    width:25px;
    background: #e5e5e5;
    border-radius: 50%;
    padding:8px;
    margin-right: 15px;
}
.sub-menu-link span{
    font-size: 15px;
    transition: transform  0.5s;
}
.sub-menu-link:hover span{
    transform: translateX(5px);
}
.sub-menu-link:hover p{
    font-weight: 600;
}

#homemain{
    background-image:url("images/homebg.jpg");
    margin-top: -50px;
    height:90vh;
    width:100%;
    background-size:cover; 
    background-repeat: no-repeat;
    background-position: top 60% right 100%;
    padding:0;
}
#homemain h1{
    padding-left: 100px;
    padding-top: 130px;
    font-size: 55px;
}
#homemain h3{
    padding-left:100px;
    margin-top: -20px;
    font-size: 35px;
    color:salmon;
}
#homemain button{
    margin-left: 100px;
    font-size: 20px;
    padding:7px;
    cursor: pointer;
    border-radius:3px;
    font-size: 600;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: salmon;
    color:rgb(255, 255, 255);
    border-color:salmon;
    box-shadow: 0 0 10px  rgba(0, 0, 0, 0.1) ;
    transition:transform .15s;
}
#homemain a{
    color:white;
    text-decoration: none;
}
#homemain button:hover{
    transform:scale(1.1);
}

#popular h1{
    text-align: center;
    font-family:arial;
    font-size: 35px;
}
.popbox img{
    width:215px;
    height:215px;
    padding:25px 15px;
    border:1px solid rgb(237, 231, 231);
    border-radius: 5px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    margin-right: 25px;
    transition: transform .20s;
}
.popbox img:hover{
    
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.2);
}
.foot{
    background: rgb(89, 88, 88);
    height: 300px;
    padding: 10px 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.foot p{
  position: relative;

}
.foot li{
    list-style-type: none;
    color: #e5e5e5;
}
.foot a{
    text-decoration: none;
    color: #e5e5e5;
}
.foot img{
    position: relative;
    left: 10px;
    top : 12px;
    width:30px;
    height: 30px;
}
